services:
  app:
    build: ./
    ports:
      - 5000:5000
    working_dir: /app
    command: python ./run.py
    volumes:
      - ./:/app
    environment:
      DB_HOST: db
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: postgres
    depends_on: 
      - db
  db:
    image: postgres:14.1-alpine
    ports:
      - 2345:5432
    restart: always
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - sport-postgres-data:/var/lib/postgresql/data
volumes:
  sport-postgres-data:
