Flask==2.2.2
Flask-SQLAlchemy==3.0.2
flask-marshmallow==0.14.0
flask-bcrypt==1.0.1
marshmallow==3.19.0
marshmallow-sqlalchemy==0.28.1
importlib-metadata==6.0.0
Flask-Login==0.6.2
Jinja2==3.1.2
Mako==1.2.4
psycopg2-binary==2.9.5
SQLAlchemy==1.4.45
Werkzeug==2.2.2
zipp==3.11.0
